/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.content {
  width: 80%;
  margin: auto;
}

li {
  list-style: none;
  font-size: 30px;
  margin-left: 40px;
}

a:hover {
  text-decoration: none;
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  text-align: center;
  padding-bottom: 30px;
}

.content li {
  text-align: left;
}
